<%= bootstrap_form_for(@job, layout: :inline) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.text_field :company_name, id: "company_id", hide_label: :true, placeholder: "Company Name" %>

    <%= f.text_field :job_title, hide_label: :true, placeholder: "Job Title" %>

    <%= f.text_field :applied_date, hide_label: :true, id: "show_up", placeholder: "Applied Date" %>

    <%= f.text_field :contact_phone, hide_label: :true, prepend:"+1", :class => "form-control bfh-phone", placeholder: "Contact Phone" %>
</div>

<div class="container">
  <%= f.text_area :notes, hide_label: :true, placeholder: "Notes", :size => "67x10" %>

  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-warning', id: "submit" %>
  </div>


<% end %>
