<%= form_for(@job, remote: true) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name, id: "company_id" %>
  </div>
  <div class="field">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :applied_date %><br>
    <%= f.text_field :applied_date, id: "show_up" %>
  </div>
  <!-- <div class="field"> -->
    <!-- <%#= f.label :follow_up_date %><br> -->
    <%#= f.date_field :follow_up_date %>
  <!-- </div> -->
  <!-- <div class="field">
    <%#= f.label :contact_name %><br>
    <%#= f.text_field :contact_name %>
  </div> -->
  <!-- <div class="field">
    <%#= f.label :contact_phone %><br>
    <%#= f.text_field :contact_phone %>
  </div> -->
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <!-- <div class="field">
    <%#= f.label :additional_contacts %><br>
    <%#= f.text_field :additional_contacts %>
  </div> -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
