<table id="job_posted">
    <thead>
      <tr>
        <th>Company</th>
        <th>Title</th>
        <th>Date-applied</th>
        <!-- <th>Follow-up-date</th> -->
        <!-- <th>Contact</th> -->
        <!-- <th>Contact-phone</th> -->
        <th>Notes</th>
        <!-- <th>User Id</th> -->
        <!-- <th>Additional Contacts</th> -->
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <% if current_user.id == job.user_id %>
         <tr>
          <td><%= job.company_name %></td>
           <td><%= job.job_title %></td>
           <td><%#= job.applied_date %></td>
           <td><%#= job.follow_up_date %></td>
           <td><%#= job.contact_name %></td>
           <td><%#= job.contact_phone %></td>
           <td><%= job.notes %></td>
           <td><%#= job.additional_contacts %></td>
           <td><%= link_to 'Show', job %></td>
           <td><%= link_to 'Edit', job %></td>
           <td><%= link_to 'Delete', job, method: :delete,   data: {confirm: "Are you sure?"}, remote: true, class: "delete_pony" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
</table>
