<% if current_user %>
<h1>Listing jobs</h1>
<h5><%= "#{current_user.email} has applied to" %><%= link_to " #{current_user.jobs.count} ", list_jobs_path, id: "job_count" %>jobs.</h5>

<%= render 'calendar' %>


<%= link_to 'New Job', new_job_path, id: "new_link", remote: true %> </br>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>




<% else %>

<!-- "Sign in with Google" -->
<section class="btn-login">
<%= link_to " Sign in with Google", user_omniauth_authorize_path(:google), class: "zocial googleplus"%>
</section>

<% end %>
