<% if current_user %>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="/jobs"><%= "#{current_user.email} " %></a>
    </div>

    <p class="navbar-text"><%= link_to " #{current_user.jobs.count} ", list_jobs_path, id: "job_count", class: "fancybox" %>
    </p>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'New Job', new_job_path, class: "fancybox" %></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


<div id="room_for_new_job">
</div>
<%= render 'calendar' %>


<% else %>

<!-- "Sign in with Google" -->
<section class="btn-login">
<%= link_to " Sign in with Google", user_omniauth_authorize_path(:google), class: "zocial googleplus"%>
</section>

<% end %>
