<% if current_user %>
<h1>Listing jobs</h1>
<h5><%= "Total jobs applied: #{current_user.jobs.count}" %></h5>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Title</th>
      <th>Date-applied</th>
      <!-- <th>Follow-up-date</th> -->
      <!-- <th>Contact</th> -->
      <!-- <th>Contact-phone</th> -->
      <th>Notes</th>
      <th>User Id</th>
      <!-- <th>Additional Contacts</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <% if current_user.id == job.user_id %>
       <tr>
        <td><%= job.company_name %></td>
         <td><%= job.job_title %></td>
         <td><%#= job.applied_date %></td>
         <td><%#= job.follow_up_date %></td>
         <td><%#= job.contact_name %></td>
         <td><%#= job.contact_phone %></td>
         <td><%= job.notes %></td>
         <td><%#= job.additional_contacts %></td>
         <td><%= link_to 'Show', job %></td>
         <td><%= link_to 'Edit', job %></td>
         <td><%= link_to 'Delete', job, method: :delete,   data: {confirm: "Are you sure?"} %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>



<div id="jobs">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>

  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @jobs_by_date[date] %>
      <ul>
        <% @jobs_by_date[date].each do |job| %>
          <li><%= link_to job.company_name, job %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to 'New Job', new_job_path %> </br>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>


<% else %>

<!-- "Sign in with Google" -->
<section class="btn-login">
<%= link_to " Sign in with Google", user_omniauth_authorize_path(:google), class: "zocial googleplus"%>
</section>

 <% end %>
