<!DOCTYPE html>
<html>
<head>
  <title>ProfessionallyUnprofessional</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/blitzer/jquery-ui.css' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <p class="notice"><%= notice %></p> -->

<% if current_user %>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <% else %>

  <div class="l-background-container">

  <header>
    <h1>TRILLAPP</h1>
    <h2>TRACK YOUR OPPORTUNITIES</h2>
  </header>

  <p class="alert"><%= alert %></p>
<!-- </div> container -->

<%= yield %>

</div> <!-- Background picture -->
</body>
</html>
<% end %>
